<div data-control-type="usernamePassword">
    <input type="text" placeholder="Username" data-bind="textInput: username" />
    <input type="password" placeholder="Password" data-bind="textInput: password" />
</div>