@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Coded UI Examples</h1>
    <p class="lead">Free resources for building automation based on Microsoft's <a href="https://msdn.microsoft.com/en-us/library/dd286726.aspx">CodedUI Framework.</a></p>
    <p><a href="https://msdn.microsoft.com/en-us/library/jj620891.aspx" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <p>
            There are three parts to the Coded UI Extension library.
            <ol>
                <li>
                    Coded UI Fluent
                    <ul>
                        <li>
                            Additional HTML control to provide clean, consistent search expressions.
                        </li>
                        <li>
                            Fluent extensions to reduce the amount of code required to find UI Test Controls while also improving the readability of the search expression.
                        </li>
                        <li>
                            Extends the existing Coded UI type hierarchy to be fully compatible with exisitng tests using Coded UI.
                        </li>
                    </ul>
                </li>
                <li>
                    Page Modeling Abstraction
                    <ul>
                        <li>Platform agnostic set of abstractios over UI capabilities.</li>
                        <li>
                            Express UI in terms of simple interfaces likes:
                            <ul>
                                <li>IClickable</li>
                                <li>ISelectable</li>
                                <li>IValuable</li>
                                <li>...</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    Coded UI Implementation of the Page Modeling Abstraction
                    <ul>
                        <li>Let the framework provide consistent semantics for testing your UI</li>
                        <li>Separate modeling pages of your application from the tests against them</li>
                    </ul>
                </li>
            </ol>
        </p>
        <p><a class="btn btn-default" href="https://www.nuget.org/packages/CodedUIPageModeling/">Find on Nuget &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Examples</h2>
        <p>Examples and comparison of standard Coded UI scripts and using the extension libraries.</p>
        <p>
            These examples work with the source code and act as the actual tests to validate the framework functionality.
            You can <a href="https://github.com/spelltwister/CodedUIFluentExtensions">download the source code from github</a> and run the tests to see exactly how the code works.
            <ol>
                <li>
                    <a href="examples/example1">Simple Html Input Controls</a><br/>
                    Examples of manipulating various html input controls.
                </li>
                <li>
                    <a href="examples/example2">Static Child (Nested Controls)</a><br />
                    Examples of how to use the Static Child base class for distinguishing nested controls on a page.
                </li>
            </ol>
        </p>
        <p><a class="btn btn-default" href="https://github.com/spelltwister/CodedUIFluentExtensions">Find on Github &raquo;</a></p>
    </div>
</div>